body {
    font-family: courgette;
    background-color: black;
}
nav {
   width:130px;
   height:100%;
   position: fixed;
   z-index: 33;
   top:0;
   left:0;
   text-align: center;
   border:1px solid black;
   background-color: rgb(17, 17, 17) ;
   opacity:0.9;
   font-family: sens-serif;
}
#navdiv {
    position: sticky;
    height: 100%;
}
#nav-img {
    width:100%;
    opacity: 0.8;
}
.nav-item{
    color:white;
    display:inherit;
    

    
}
.nav-item:hover {
    background-color: black;
    height:12%;
    

}
nav .nav-item {
    text-decoration: none;
}
.nav-para {
    text-decoration: none;
}
#title {
    border-bottom: 5px solid white;
    width: 400px;
}
#about {
    margin-left:130px;

}
#welcome-section
{
    height: 100vh;
}

nav .nav-item .fa {
    font-size:35px;
    margin-top:15px;
    opacity: 0.9;
}
nav #home {
    background-color: black;
    height: 12%;
}
nav #home:hover {
    background-color: darkgrey;
}
#container {
    display:grid;
    grid-template-columns: 10% 90%;
}
#top {
    justify-content: center;
    border:1px solid black;
}
#right {
    border:1px solid black;
}
#main-photo{
    display:grid; 
    justify-content:center;
}
.top {
    color:white;
    font-size:40px;
    text-align: center;
}
#designer {
    text-align: center;
    color:white;
    font-size:30px;
}
.title {
    font-size:35px;
    color:white;
    text-align:center
}
#bio {
    color:white;
    font-size:20px;
}
#about {

}
.skills {
    color:white;
    text-align:center;
}
.title2 {
    font-size:25px;
    color:white;
    text-align: left;
    margin-left: 150px;
}

#projects {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;    

    margin-left: 150px;
    width:90%;
    justify-content: center;
    align-items: center;
    
}
#projects a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family:serif;
}
.project-img {
    width:250px;
    height: 250px;
    object-fit: cover;
}
.project-img:hover {
    box-shadow: 5px 5px 5px white;
    width:251px;
    height:251px;
    
}
.items {
    grid-template-columns: 25% 25% 25% 25%; 
}
.para {
    display: inline;
    
}
.container {
    display:grid;
    grid-template-columns:auto auto;
    grid-gap:40px;  
    width:100%;
  
    
  
  }
  
  .project-img {
    width:230px;
    height:180px;
    display: grid;
    grid-template-columns:25px 25px 25px 25px ;
    border-radius: 30px;
  }
  .level {
    text-align:center;
    
  
  }
  .items {
    text-align:center;
    margin:6px;
    font-size:20px;
    display: flex;
    gap:40px;
    
  }
  ::selection{
    color: #fff;
    background: #6665ee;
  }
  .skill-bars{
    padding: 25px 30px;
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-left: 340px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #6665ee;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 100%;
  }
  .bar .progress-line.css span{
    width: 90%;
  }
  .bar .progress-line.JavaScript span{
    width: 50%;
  }
  .bar .progress-line.PhotoShop span{
    width: 80%;
  }
  .bar .progress-line.Microsoft span{
    width: 90%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "100%";
  }
  .progress-line.css span::after{
    content: "90%";
  }
  .progress-line.JavaScript span::after{
    content: "50%";
  }
  .progress-line.PhotoShop span::after{
    content: "80%";
  }
  .progress-line.Microsoft span::after{
    content: "90%";
  }
  #photos {
      margin-left:180px;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-column-start: 4;
      grid-row-end: 2;
      
  }
  .myphoto {
      width:500px;
      height:auto;
      
  }
  #contact {
      color:white;
      width:1100px;
      height:420px;
      margin-left:140px;
      display: grid;
      grid-template-rows: auto;
      font-size:30px;
  }
  footer {
      display: grid;
      grid-template-columns: auto;
  }
 .input {
     width:90%;
     height: 50px;
     font-size:20px;
     
    
 }
 button {
     width:300px;
     height:50px;
     cursor:pointer;
 }
 #profile-link {
     color:white;
 }

@media only screen and (max-width: 600px) {
  nav {
        width:60px;
    }
    .top {
      font-size:30px;
    }
    #designer{
      font-size:20px;
    }
    #about {
        margin-top:-100px;
    }
    .title {
        font-size:25px;
    }
    #bio {
        font-size:15px;
    }
    .title2 {
        font-size:25px;
    }
    .skill-bars{
        margin-left:60px;
        margin-top:-20px;
        width:100%;
    }
    #projects {
        width:400px;
   
        margin-left:70px;


}
    .project-img {
        width:65px;
 
    } 
    #photos {
        border:1px solid red;
        width: 90%;
        margin-left:55px;
    }
    .myphoto{
        width:200px;
        display: grid;
        
    }
    #one {
        
    }
}
    